{% if not isread %}
	<table class="userdelete">
	<tbody>
	<tr>
	<td>
	Delete post
	[<input type="checkbox" name="fileonly" id="fileonly" value="on" /><label for="fileonly">File Only</label>]<br />Password
	<input type="password" name="postpassword" size="8" />&nbsp;<input name="deletepost" value="Delete" type="submit" />


	{% if board.enablereporting == 1 %}
		<input value="Report" onclick="var o=document.getElementsByTagName('input');for(var i=0;i<o.length;i++)if(o[i].type=='checkbox' && o[i].checked && o[i].name=='post[]') return reppop('{{cwebpath}}report.php?no='+o[i].value+'&bo={{board.name}}');" type="button">	
	{% endif %}

	</td>
	</tr>
	</tbody>
	</table>
	</form>

	<script type="text/javascript"><!--
		set_delpass("delform");
	//--></script>
{% endif %}
{% if replythread == 0 %}
	<table border="1">
	<tbody>
		<tr>
			<td>
				{% if thispage == 0 %}
					Previous
				{% else %}
					<form method="get" action="{{KU_BOARDSFOLDER}}{{board.name}}/{% if (thispage-1) != 0 %}{{thispage-1}}.html{/if}">
						<input value="Previous" type="submit" /></form>
				{/if}
			</td>
			<td>
				&#91;{if $thispage neq 0}<a href="{{KU_BOARDSPATH}}/{{board.name}}/">{% endif %}0% {if thispage != 0}</a>{% endif %}&#93;
				{% for pages in numpages %}
				{% spaceless %}
					&#91;
					{% if loop.index != thispage %}<a href="{{KU_BOARDSFOLDER}}{{board.name}}/{{loop.index}}.html">
					{% endif %}
					
					{{loop.index}}
					
					{% if loop.index != thispage %}
					</a>
					{% endif %}
					&#93;
				{% endspaceless %}
				{% endfor %}	
			</td>
			<td>
				{% if thispage == numpages %}
					Next
				{% else %}
					<form method="get" action="{{KU_BOARDSPATH}}/{{board.name}}/{{thispage+1}}.html"><input value="Next" type="submit" /></form>
				{% endif %}
	
			</td>
		</tr>
	</tbody>
	</table>
{% endif %}
<br />
{% if boardlist %}
	<div class="navbar">
	{% if KU_GENERATEBOARDLIST %}
		{% for sect  in boardlist %}
			[
			{% for brd in sect %}
				<a title="{{brd.desc}}" href="{{KU_BOARDSFOLDER}}{{brd.name}}/">{{brd.name}}</a>{% if loop.last %}{% else %} / {% endif %}
			{% endfor %}
			]
		{% endfor %}
{#	{% else %}
		{if is_file($boardlist)}
			{include $boardlist}
		{/if}
#}
	{% endif %}
	</div>
{% endif %}
<br />
<div class="footer" style="clear: both;">
	- <a href="http://anonsaba.net/" target="_top">Anonsaba {{version}}</a>
	{% if executiontime != '' %} + Took {{executiontime}}s -{% endif %}
	{% if botads != '' and board.enableads == 1 and board.boardclass == 0 %}
		<div class="content ads">
			<center> 
				{{botads}}
			</center>
		</div>
	{% endif %}
	{% if nsfwbot != '' and board.enableads == 1 and board.boardclass == 1 %}
		<div class="content ads">
			<center> 
				{{nsfwbot}}
			</center>
		</div>
	{% endif %}
</div>
